In [16]:
import pandas as pd

In [17]:
score_data = pd.read_csv('lsd_math_score_data.csv')

In [18]:
score_data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [19]:
score_data['Irrelevant Name'] = "Naruto"

In [20]:
score_data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score Irrelevant Name
0                      5     1.17                78.93          Naruto
1                     15     2.97                58.20          Naruto
2                     30     3.26                67.47          Naruto
3                     60     4.69                37.47          Naruto
4                    120     5.83                45.65          Naruto
5                    240     6.00                32.92          Naruto
6                    480     6.41                29.97          Naruto

In [22]:
score_data['High_Score'] = score_data['Avg_Math_Test_Score'] + 100
score_data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Irrelevant Name,High_Score
0,5,1.17,78.93,Naruto,178.93
1,15,2.97,58.20,Naruto,158.20
2,30,3.26,67.47,Naruto,167.47
3,60,4.69,37.47,Naruto,137.47
4,120,5.83,45.65,Naruto,145.65
5,240,6.00,32.92,Naruto,132.92
6,480,6.41,29.97,Naruto,129.97

In [23]:
score_data['High_Score'] = score_data['High_Score'] ** 2
score_data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Irrelevant Name,High_Score
0,5,1.17,78.93,Naruto,32015.9449
1,15,2.97,58.20,Naruto,25027.2400
2,30,3.26,67.47,Naruto,28046.2009
3,60,4.69,37.47,Naruto,18898.0009
4,120,5.83,45.65,Naruto,21213.9225
5,240,6.00,32.92,Naruto,17667.7264
6,480,6.41,29.97,Naruto,16892.2009

In [32]:
columnList = ['LSD_ppm', 'Avg_Math_Test_Score']
stripped_data = score_data[columnList]
stripped_data

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [34]:
X = score_data[['LSD_ppm']]
print(type(X))
X

<class 'pandas.core.frame.DataFrame'>

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

In [35]:
del score_data['Irrelevant Name']
del score_data['High_Score']
score_data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [36]:
import math as mt

In [37]:
mt.pi

3.141592653589793

In [39]:
mt.e

2.718281828459045